.ExhibitorInfo_logo {
  padding-left: 0px;
  margin-top: 20px;
  margin-bottom: 30px;
  max-height: 200px;
  width: auto;
}

.ExhibitorInfo_companyProfile {
  font-size: 14px;
  line-height: 1.5;
}

.ExhibitorInfo_companyInfo {
  font-size: 16px;
}

.ExhibitorInfo_buttonContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.ExhibitorInfo_buttonContainer > button {
  margin-right: 2rem;
}

#ExhibitorInfo_ReadMore_More {
  display: none;
}

#ExhibitorInfo_ReadMore_Btn {
  border: none;
  background: transparent;
  font-weight: bold;
  font-style: italic;
  color: rgba(27,128,71,0.8);
  padding: 0px;
  display: block;
}