.mapOutline {
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #808080;
  fill: none;
  stroke-width: 0.25px;
  stroke-miterlimit: 10;
}

.booth {
  fill: #ffffff;
  stroke: #010101;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.25px;
}